.scrollable {
    overflow-y: scroll;
    max-height: calc(100vh - 150px);
}

.calendar-grid {
    grid-template-columns: 60px repeat(7, 1fr);
    gap: 8px;
}

.nav-button {
    display: none;
}

@media screen and (max-width: 480px) {
    .scrollable {
        max-height: calc(100vh - 250px);
    }

    .calendar-grid {
        grid-template-columns: 35px repeat(2, 1fr);
    }

    .nav-button {
        display: block;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .scrollable {
        max-height: calc(100vh - 200px);
    }

    .calendar-grid {
        grid-template-columns: 35px repeat(3, 1fr);
    }

    .nav-button {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .scrollable {
        max-height: calc(100vh - 170px);
    }

    .calendar-grid {
        grid-template-columns: 35px repeat(5, 1fr);
    }

    .nav-button {
        display: block;
    }
}

/********************************************************************/

.left-sidebar-container {
    display: flex;
    width: 300px;
}

.hamburger-visibility {
    display: none;
}

.content-display {
    margin-top: 30px;
    margin-left: 20px;
}

.right-sidebar-container {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 15;
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
    padding: 20px;
    margin-top: 49px;
    border-left: 1px solid #dee2e6;
}

.right-sidebar-container.visible {
    transform: translateX(-300px);
}

@media (max-width: 1024px) {
    .left-sidebar-container {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100%;
        width: 300px;
        overflow-y: auto;
        background-color: #ffffff;
        z-index: 15;
        transform: translateX(0);
        transition: transform 0.1s ease-in-out;
        margin-top: 49px;
        border-right: 1px solid #dee2e6;
    }

    .left-sidebar-container.visible {
        transform: translateX(300px);
    }

    .hamburger-visibility  {
        display: block;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
    }

    .content-display {
        margin-left: 10px;
        padding-right: 10px;
    }
}

/********************************************************************/

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}